:root {
--background: #EFEFEF;
--modalbackground: #FAFAFA;

/* padding */
--s-pad: 3px;
--n-pad: 6px;
--m-pad: 10px;
--l-pad: 15px;
--xl-pad: 30px;
--xxl-pad: 40px;

/* margin */
--s-mar: 3px;
--n-mar: 6px;
--m-mar: 10px;
--l-mar: 15px;
--xl-mar: 30px;
--xxl-mar: 40px;
}

.App {
  display: flex;
  text-align: center;
  background-color: var(--modalbackground);
}

.Main {
  padding: 20px;
  width: 100%;
}

/* padding */
.s-pad {
  padding: var(--s-pad);
}

.n-pad {
  padding: var(--n-pad);
}
.m-pad {
  padding: var(--m-pad);
}

.l-pad {
  padding: var(--l-pad);
}

.xl-pad {
  padding: var(--xl-pad);
}

.xxl-pad {
  padding: var(--xxl-pad);
}

.zc-padding-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}